[Unit]
Description=Mass Image Writer Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/MassImageWriter/Rpi_Mass_Image_Writer_dd/images/writeImgSD.py
Restart=always
User=MassImageWriter
WorkingDirectory=/home/MassImageWriter/Rpi_Mass_Image_Writer_dd/images
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
